@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 342 53% 99%;
    --foreground: 342 73% 3%;
    --muted: 312 28% 91%;
    --muted-foreground: 312 5% 38%;
    --popover: 342 53% 99%;
    --popover-foreground: 342 73% 3%;
    --card: 342 53% 99%;
    --card-foreground: 342 73% 3%;
    --border: 342 5% 89%;
    --input: 342 5% 89%;
    --primary: 342 59% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.78 81.82% 25.88%;
    --secondary-foreground: 0 0% 100%;
    --accent: 341.67 48.53% 47.13%;
    --accent-foreground: 0 0% 100%;
    --destructive: 360 80.95% 45.49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 342 59% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 8.57% 4.96%;
    --foreground: 342 0% 100%;
    --muted: 312 28% 9%;
    --muted-foreground: 312 5% 62%;
    --popover: 341.74 38.6% 8.32%;
    --popover-foreground: 342 38% 99%;
    --card: 342 38.18% 11.69%;
    --card-foreground: 342 38% 99%;
    --border: 342 5% 10%;
    --input: 342 5% 10%;
    --primary: 342 59% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.78 81.82% 25.88%;
    --secondary-foreground: 0 0% 100%;
    --accent: 341.87 46.15% 30.53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 360 69.52% 39.02%;
    --destructive-foreground: 0 0% 100%;
    --ring: 342 59% 54%;
  }
}


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }